{% extends 'base.html' %}
{% block title %}เกี่ยวกับฉัน{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header"><i class="fas fa-user me-2"></i>เกี่ยวกับฉัน</div>
  <div class="card-body">
    <h5>ประวัติส่วนตัว</h5>
    <p>ฉันเป็นนักศึกษาวิทยาการคอมพิวเตอร์ที่หลงใหลการพัฒนาเว็บไซต์และเทคโนโลยีใหม่ ๆ</p>
    <h5>ข้อมูลส่วนตัว</h5>
    <p><strong>วันเกิด:</strong> 1 มกราคม 2548<br>จังหวัดกาญจนบุรี ปัจจุบันศึกษาอยู่ที่จังหวัดศรีสะเกษ</p>
    <h5>การศึกษา</h5>
    <p><strong>มหาวิทยาลัยราชภัฏศรีสะเกษ</strong><br>สาขาวิทยาการคอมพิวเตอร์</p>
    <h5>ความสนใจ</h5>
    <p>• การพัฒนาเว็บไซต์<br>• เทคโนโลยีใหม่ ๆ<br>• การเรียนรู้ภาษาโปรแกรมมิ่ง</p>
  </div>
</div>
{% endblock %}
