{% extends 'base.html' %}
{% block title %}วนซ้ำ{% endblock %}
{% block content %}
<div class="card mb-4">
  <div class="card-body">
    <form method="post" action="{% url 'for' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="count" class="form-label">ป้อนตัวเลขที่ต้องการ</label>
        <input type="number" class="form-control" id="count" name="count">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 class="mb-0">{{ message }}</h2>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>#</th><th>First</th><th>Last</th><th>Handle</th>
        </tr>
      </thead>
      <tbody>
        {% for i in count %}
        <tr>
          <th>{{ forloop.counter }}</th><td>Mark</td><td>Otto</td><td>@mdo</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
